.hometransfer{
    padding:1rem  1rem 0  1rem; 
}
.step-3{
    background:white;
    padding:1.2rem;
    position: fixed;
    bottom:0;
    width:90%;
}
.step-3 button{
    width:100%;
    padding:0.8rem;
    background:blue;
    color:#fff;
    border:none;
    outline:none;
    border-radius: 0.3rem;
    cursor:pointer;
}
.transfer-error{
    width:50%;
    margin:5% auto;
    padding:1rem;
    border-radius: 0.3rem;
    background:#fff;
}
.transfer-error p{
    font-size: 3rem;
    text-align: center;
}